*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

header{                 /*header*/
    height: 275px;
    background-color: aqua;
    width:100%;
    display: flex;
    flex-direction: column;
    
    
    
}

.navbar1{                         /*sezione 1 header*/
    background-color: yellow;
    border: 1px dashed black;
    display: flex;
    margin:  auto;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 25px;

}

.div-navbar1{
    border: 2px dashed black;
}

#logo{
    padding: 5px 100px 5px 5px;
}

#login{
    padding: 5px 5px 5px 100px;
}

ul {
    display: flex;
    list-style-type: none;
}

.cont-jumbotron{                  /*sezione 2 header*/
    height: 190px;
    background-color: blue;
    display: flex;
    
}

.jumbotron{
    background-color: pink;
    border: 2px dashed black;
    height: 150px;
    width: 60%;
    margin:  auto;
}


/*main*/



main{
    margin-top: 25px;
    
}

/*prime 3 section*/

.section{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.bg-pink{
    width: 25%;
    height: 90%;
    border: 2px dashed black;
    background-color: pink;


}

.bg-blue{
    width: 50%;
    height: 90%;
    border: 2px dashed black;
    background-color: blue;

}


.section.gray{
    background-color: gray;
}

