*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

header{                 /*header*/
    height: 570px;
    background-color: aqua;
    width:100%;
    display: flex;
    flex-direction: column;   
}

.navbar1{                         /*sezione 1 header*/
    background-color: yellow;
    height: 30px;
    display: flex;
    margin:  auto;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 25px;
    border: 2px dashed black;
}

#logo{
    border-right: 2px dashed black; 
    padding-right: 100px;
    height: 100%;
}

#login{
    height: 100%;
    border-left: 2px dashed black;
    padding-left:100px;
}

ul {
    
    display: flex;
    list-style-type: none;
}

.cont-jumbotron{                  /*sezione 2 header*/
    height: 500px;
    background-color: blue;
    display: flex;
    
}

.jumbotron{
    background-color: pink;
    border: 2px dashed black;
    height: 450px;
    width: 50%;
    margin:  auto;
}

  /*main*/
main{
    margin-top: 25px;
    
}

/*prime 3 mainsection*/

.section{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.bg-pink{
    width: 20%;
    height: 90%;
    border: 2px dashed black;
    background-color: pink;


}

.bg-blue{
    width: 40%;
    height: 90%;
    border: 2px dashed black;
    background-color: blue;

}


.section.gray{
    background-color: lightgray;
}

/*last main section*/

.last-maincont{
    background-color: lightgray;
    height: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-section{
    background-color: green;
    width: 60%;
    height: 90%;
    border: 2px dashed black;
}

/*footer*/

footer{
    background-color: darkslategray;
    width: 100%;
    display: flex;
    height: 600px;
    flex-direction: column;

}

.sezione1-foot{    /*sezione 1 footer*/
    height: 600px ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footpink{
    background-color: pink;
    height: 90%;
    width: 20%;
    border: 2px dashed black;
}

.footaqua{
    background-color: aqua;
    height: 90%;
    width: 10%;
    border: 2px dashed white;
}

/*sezione2 footer*/

.navbar2{                      
    background-color: aquamarine;
    display: flex;
    margin:  auto;
    align-items: flex-end;
    width: 60%;
    justify-content: space-between;
    margin-top: 10px;
}

#logo2{
    padding: 5px;
    border: 2px dashed black;
    background-color: pink;
    margin:15px 0px 15px 0px;

}

#bottone{
    padding: 5px;
    border: 2px dashed black;
    background-color: pink;
    margin:15px 0px 15px 0px;
}